# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
/ProjectSettings/UnityConnectSettings.asset

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/unity/*.csproj
/unity/*.sln
test
tmp
Build
/.vs
